@{
    ViewData["Title"] = "Home Page";
}

<div align="center">
    <h2>Welcome to Publicis Media Data Lake Administration</h2>
    <h5 style="padding-top:100px">Runtime @(System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription)</h5>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>