<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="GreenhouseConfiguration">
      <section name="globalApplicationSettings" type="Greenhouse.Configuration.GreenhouseConfigurationSection,Greenhouse.Configuration" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ApplicationEnvironment" value="DEV" />
    <add key="DOMAIN" value="vpc" />
    <add key="DOMAIN_USER" value="svcDTITeamCity" />
    <add key="DOMAIN_PASSWORD" value="r6R=9HH$B9G$" />
    <add key="SERVICE_PORT" value="10001" />
    <add key="AWS_PROFILES_LOCATION" value="C:\Windows\Microsoft.NET\credentials" />
  </appSettings>

  <GreenhouseConfiguration>
    <globalApplicationSettings>
      <applicationSettings>
        <add key="APP_NAME" value="Greenhouse" />

        <add key="CRYPTO_ALGORITHM" value="TripleDES" />
        <add key="CRYPTO_KEY" value="CutC01nt3rSLIC3" />

        <add key="AUTH_SERVER_TYPE" value="AD" />
        <add key="AUTH_ADMIN_USER" value="cms" />
        <add key="AUTH_ADMIN_PASSWORD" value="R3p0rting!" />
        <add key="AUTH_BASE_DC" value="CN=GLANCE,CN=Groups,DC=glance,DC=corp" />
        <add key="AUTH_DOMAIN" value="glance" />
        <add key="AUTH_HOST" value="10.50.1.4" />
        <add key="AUTH_PORT" value="993" />

        <add key="MAIL_PROVIDER" value="MAIL_CLIENT_SMTP" />
        <add key="MAIL_ADMIN_FROM" value="admin@globalanalyticscenter.com" />
        <add key="IMAP_HOST" value="mail.globalanalyticscenter.com" />
        <add key="IMAP_PORT" value="993" />
        <add key="SMTP_HOST" value="mail.glance.corp" />
        <add key="SMTP_PORT" value="25" />

        <add key="GREENHOUSE_ROOT_BUCKET" value="dev-greenhouse-useast" />
        <add key="GREENHOUSE_RAW_FILES_PATH" value="C:\RawFiles" />
        <add key="GREENHOUSE_IMPORT_FILES_PATH" value="C:\ImportFiles" />        
        <add key="GREENHOUSE_TRANSFORMED_FILES_PATH" value="C:\TransFiles" />
        <add key="GREENHOUSE_SUPPORT_EMAIL" value="darren.smith@publicismedia.com" />
        <add key="GREENHOUSE_CONFIG_DB_CONN_STRING" value="Server=10.0.9.100,1433;Database=Configuration;Uid=ghuser;Pwd=Gr33nh0us3!;" />



        <add key="QUARTZ_CONN_STRING" value="Server=10.0.9.100,1433;Database=quartz;Uid=ghuser;Pwd=Gr33nh0us3!;" />
        <add key="QUARTZ_THREAD_COUNT" value="75" />
        <add key="QUARTZ_THREAD_PRIORITY" value="Normal" />

        <add key="AWS_REGION" value="us-east-1" />

      </applicationSettings>
    </globalApplicationSettings>
  </GreenhouseConfiguration>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

	    <dependentAssembly>
		    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
		    <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
	    </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
