<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" >
	<targets>
		<target name="GreenhouseWrapperMain" xsi:type="SplitGroup">
			<target name="GreenhouseWrapperAsynch" xsi:type="AsyncWrapper" batchSize="1" overflowAction="Grow" queueLimit="10000">
				<target name="GreenhouseWrapperFallback" xsi:type="FallbackGroup" returnToFirstOnSuccess="true" >
					<!--<target name="GreenhouseTargetNetwork" xsi:type="Network" address="tcp://corinfsplk-ue1p.cloud.vivaki.com:4111" onOverflow="Split" newLine="true" maxMessageSize="10000" layout="${level:uppercase=true}|${dotnet-runtime-version}|${logger}|${event-context:item=application}|${machinename}|servertime=${date}|${event-context:item=guid}|${aspnet-user-identity:whenEmpty=(nouser)}|${message}|${onexception:${exception:format=type,message,method,stackTrace:maxInnerExceptionLevel=5:innerFormat=type,message,method,stackTrace}}" />-->
					<target name="GreenhouseTargetFile" xsi:type="File" createDirs="true" fileName="C:\Greenhouse\Logs\nlog.txt" archiveEvery="Day" archiveNumbering="Rolling" layout="${level:uppercase=true}|${dotnet-runtime-version}|${logger}|${event-context:item=application}|${machinename}|servertime=${date}|${event-context:item=guid}|${aspnet-user-identity:whenEmpty=(nouser)}|${message}|${onexception:${exception:format=type,message,method,stackTrace:maxInnerExceptionLevel=5:innerFormat=type,message,method,stackTrace}}" />
				</target>
			</target>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="GreenhouseWrapperMain"  />
	</rules>
</nlog>